.pimg1, .pimg2, .pimg3 {
    position: relative;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px 0;
    background-position: center;
    background-size: cover;
}
.pimg1 {
    background-image: url('AMERICA.png');
    min-height: 100%;
}
.pimg2 {
    background-image: url('bugatata.jpeg');
    min-height: 400px;
}
.pimg3 {
    background-image: url('brown.jpg');
    min-height: 400px;
}
.section {
    text-align: center;
    padding: 50px 80px;
}
.section-light {
    background-color: #f4f4f4;
    color: #666;
}
.section-dark {
    background-color: #282e34;
    color: #ddd;
}
.ptext {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
}
.ptext .border .trans {
    background-color: #111;
    color: #fff;
    padding: 20px;
}
@media(max-width:568px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}